
.error {
    color: red;
    }
    
    .mainContainer{
    font-size: 20px;
    width : 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    
    #userDataForm{
    border : 2px solid black;
    padding : 10px;
    width : 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    
    }
    
    input{
    padding : 4px;
    }
    
    .submit{
    width: 100px;
    font-size: 20px;
    }
    
    .submitContainer{
    display: flex;
    justify-content: center;
    }